html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Arial", Arial, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    background-color: rgba(230,250,240);
}

@font-face {
font-family: "pixel";
src: url("depixelbreit.otf");
src: url("depixelbreit.otf") format("opentype"),
}

canvas {
   margin: 0 auto;
   display: block;
}

#container {
    position: fixed;
    top: 0%;
    left: 50%;
    margin-top: 40px;
    margin-left: -153px;
	  background-image: url("images/login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    border: 0px solid rgba(0,0,0);
    width: 306px;
    height: 382px;

}

#error {
  position: relative;
  color: #a30618;
  text-align: center;
  font-family: "pixel", Arial, sans-serif;
  font-size: 12px;
  margin-top: 40px;
  margin-left: 0px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

form {
    margin: 0 auto;
    margin-top: 20px;
}
label {
    font-size: 16px;
}

input {
    font-family: "pixel", Arial, sans-serif;
    font-size: 16px;
    outline: none;
    background-color: rgba(0,0,0,0);
}

input[type=text],
input[type=password] {
    color: rgba(0,0,0);
    padding-left: 10px;
    border-radius: 4px;
    margin: 10px;
    margin-top: 4px;
    margin-bottom: 14px;
    margin-left: 72px;
    width: 190px;
    height: 35px;
    border: 0px;
	}

#top {
    background: rgba(255, 255, 255, 0.0);
    width: 100%;
    height: 69px;
    margin-top: 106px;
    padding-bottom: 10px;
}

#middle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.0);
    width: 100%;
    height: 69px;
}

#err {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.0);
    width: 100%;
    height: 40px;
}

#lower {
    background: rgba(255, 255, 255, 0.0);
    width: 100%;
    height: 69px;
}

#logintitle {
  font-family: "Arial", Arial, sans-serif;
  font-size: 22px;
  outline: none;
  margin: 5px;
  margin-top: 52px;
  text-align: center;
  background-color: rgba(0,0,0,0);
}

#checkboxl {
  position: absolute;
  color: rgba(0,0,0);
  font-family: "pixel", Arial, sans-serif;
  font-size: 20px;
  margin-left: 80px;
  margin-top: 34px;
}


input[type=button] {
    position:relative;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-image: url("images/login_btn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    margin-top: 42px;
    width: 108px;
    height: 54px;
    border: 0px solid rgba(0,0,0);
}

.checkbox {
  position: absolute;
  margin-left: 33px;
  margin-top: 29px;
}

input[type=checkbox]:before {
  content:"";
  position:relative;
  left:-4px; top:-4px;
  display: inline-block;
  width:35px;
  height:35px;
  background:url("images/btn_small.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

}

input[type=checkbox]:checked:before {
  content:"";
  width:35px;
  height:35px;

  background:url("images/check.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}​
